/tmp/
/lib/
/.vs/
/bin/data/games/
/bin/data/cache/
/bin/data/mbi/
/bin/bottle_x64_d.exe
*.ilk
/bin/bottle_x64_r.exe
*.iobj
*.ipdb
*.pdb
*.user
UpgradeLog.htm

/bin/.vs/bottle_x64_d/v15
/bin/logs
/bin/*.dll
/bin/*.exe
/bin/*lib
/bin/*.exp
/x64
